*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
     margin: 1rem auto; 
}

.box{
    max-width: 500px;
    margin: auto;
    position: relative;
}

.box img{
    display: block;
    width: 100%;
}

.box-content{
    position: absolute;
    top: 50%;
    left:20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.box-content h3{
    font-size: 18px;
}
  
.box::after{
content: '';
 display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
 background: rgba(0,0,0,0.560); 
 opacity: 0;
 z-index: 1;
 transition: opacity 0.2s ease-in;
}

.box:hover::after{
    opacity: 1;
}

.box:hover .box-content{
   opacity: 1;
   left:50%;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background: #454545;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.8rem;
    transition: all 0.4s ease-in;
}

.btn:hover{
    background: #232323;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.473);
}